transfer_learning/dataset/*
image/dataset/*

image/.idea/inspectionProfiles/

*.jpg

image/.idea/

image/artefacts/

image/dataset/

transfer_learning/artefacts/

.idea/

*.txt

nlp_tfds/logs/train/

nlp_tfds/dataset/downloads/

nlp_tfds/dataset/imdb_reviews/.config/

nlp_tfds/dataset/imdb_reviews/plain_text/1.0.0/

nlp/artefacts/model/variables/

nlp/artefacts/model/

nlp_tfds/logs/validation/

nlp_tfds/artefacts/model/variables/

nlp_tfds/artefacts/model/

nlp/logs/validation/

nlp/dataset/aclImdb/test/

nlp/aclImdb_v1.tar.gz

*.pickle

nlp/dataset/

nlp/logs/train/
